# --- Directorios de compilación y salida ---
# Ignoramos bin y target en cualquier profundidad
**/bin/
**/target/
**/out/
*.class

# --- Dependencias pesadas de HCL LEAP ---
# Esto ignora la carpeta específica que mencionaste antes
hcl-leap/JAVA/data-integrity/LeapRecaptchaDataIntegrity/dependencies/
*.jar

# --- Archivos temporales y de configuración de Eclipse ---
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.tmp
*.bak
*.swp
local.properties

# Ignorar ajustes de usuario de Eclipse en el proyecto
hcl-leap/JAVA/data-integrity/LeapRecaptchaDataIntegrity/.settings/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db